<h1>Tweets#show</h1>
<p>Find me in app/views/tweets/show.html.erb</p>

<p><span>email: </span><%= link_to @tweet.user.email, user_path(@tweet.user.id) %></p>
<p><span>ツイート内容: </span><%= @tweet.body %></p>